<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="console-example-internal.log"
      internalLogLevel="Info" throwExceptions="true"
      autoReload="true">

<variable name="logFolder" value="./logs/" />
<variable name="logFilenameRoot" value="tile38-listener" />

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="file-debug" fileName="${logFolder}/${logFilenameRoot}-debug.log"
            layout="${date}|${level:uppercase=true}|${logger}|${message} ${exception}|${all-event-properties}"
            archiveFileName="${logFolder}/${logFilenameRoot}-debug.{##}.log"
            archiveNumbering="Date"
  		      archiveDateFormat="yyyy-MM-dd_HH.mm.ss"
            archiveEvery="Hour"
            maxArchiveFiles="24"
    />
    <target xsi:type="File" name="file-info" fileName="${logFolder}/${logFilenameRoot}-info.log"
            layout="${date}|${level:uppercase=true}|${logger}|${message} ${exception}|${all-event-properties}"
            archiveFileName="${logFolder}/${logFilenameRoot}-info.{##}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            archiveEvery="Day"
            maxArchiveFiles="7"
    />
    <target xsi:type="File" name="file-warn" fileName="${logFolder}/${logFilenameRoot}-warn.log"
            layout="${date}|${level:uppercase=true}|${logger}|${message} ${exception}|${all-event-properties}"
            archiveFileName="${logFolder}/${logFilenameRoot}-warn.{##}.log"
            archiveNumbering="Date"
			      archiveDateFormat="yyyy-MM-dd"
            archiveEvery="Day"
            maxArchiveFiles="7"
    />
    <target xsi:type="File" name="file-error" fileName="${logFolder}/${logFilenameRoot}-error.log"
            layout="${date}|${level:uppercase=true}|${logger}|${callsite:fileName=True}|${message} ${exception}|${all-event-properties}"
            archiveFileName="${logFolder}/${logFilenameRoot}-error.{##}.log"
            archiveNumbering="Date"
			      archiveDateFormat="yyyy-MM-dd"
            archiveEvery="Day"
            maxArchiveFiles="30"
    />
    <target xsi:type="Console" name="console"
            layout="${date}|${level:uppercase=true}|${logger}|${message} ${exception}|${all-event-properties}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger enabled="True" name="*" minlevel="Debug" writeTo="file-debug" />
    <logger name="*" minlevel="Info" writeTo="file-info,console" />
    <logger name="*" minlevel="Warn" writeTo="file-warn" />
    <logger name="*" minlevel="Error" writeTo="file-error" />
  </rules>
</nlog>
